<!DOCTYPE html>
<html>
<head>
  <title>Docent</title>
  <%= stylesheet_link_tag    "docent/application", :media => "all" %>
  <%= javascript_include_tag "docent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'Docent', root_path %></h1>
  </header>

  <div id="content">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>

  <footer>
    Powered by
    <%= link_to 'Docent', 'https://github.com/ruralocity/docent' %>
    <%= Docent::VERSION %>
  </footer>
</body>
</html>
