<!DOCTYPE html>
<html>
<head>
  <title>Docent</title>
  <%= stylesheet_link_tag    "docent/application", :media => "all" %>
  <%= javascript_include_tag "docent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Docent</h1>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
